.item {
    padding: 10px;
    border-radius: 8px;
    background-color: #f2f2f2;
    display: block;
    position: relative;
}
.item img {
    max-width: 100%;
    border-radius: 8px;
}

